<% if @book.errors.any? %>
<div class="error-message text-danger">
  <h2><%= pluralize(@book.errors.count, "error" )%> prohibited this product from being saved:</h2>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="main row mt-3">
  <%= render 'books/list', user: @user, book: @book %>
  <div class="main-right col-md-8">
    <div class="main-books">
      <h2 class="main-books-title">
        Books
      </h2>
      <div class="main-books-items">
        <table class="books-table table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= attachment_image_tag(@user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60") %>
              </td>
              <td>
                <%= link_to book.title, book_path(book) %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= paginate @books %>
      </div>
    </div>
  </div>
</div>