<% if @book.errors.any? %>
<div class="error-message">
  <h2><%= pluralize(@book.errors.count, "error" )%> prohibited this product from being saved:</h2>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="main">
  <div class="main-left">
    <div class="main-user">
      <h2 class="main-user-title">
        User Info
      </h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <p>name<%= @user.name %></p>
      <p>introduction<%= @user.introduction %></p>
      <% if @user == current_user %>
        <%= link_to "<span>編集</span>", edit_user_path(@user) %>
      <% else %>
        <%= link_to "<span>編集</span>", user_path(@user) %>
      <% end %>
    </div>
    <div class="main-newbook">
      <h2 class="main-newbook-title">
        New Book
      </h2>
      <%= form_with model: @book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <%= f.submit "Create Book" %>
      <% end %>
    </div>
  </div>
  <div class="main-right">
    <div class="main-books">
      <h2 class="main-books-title">
        Books
      </h2>
      <div class="main-books-items">
          <table class="books-table">
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
              </td>
              <td>
                <%= link_to book.title, book_path(book) %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>