<div class="main">
  <div class="main-left">
    <div class="main-user">
      <h2 class="main-user-title">
        User Info
      </h2>
      
    </div>
    <div class="main-newbook">
      <h2 class="main-newbook-title">
        New Book
      </h2>
      <%= form_with model: @book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <%= f.submit "Create Book" %>
      <% end %>
    </div>
  </div>
  <div class="main-right">
    <div class="main-books">
      <h2 class="main-books-title">
        Books
      </h2>
      <div class="main-books-items">
        <% @books.each do |book| %>
          <div class="main-books-user">
          <%= link_to book.title , book_path(book.id)  %>
          <%= book.body %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>