<% if @book.errors.any? %>
<div class="error-message">
  <h2><%= pluralize(@book.errors.count, "error" )%> prohibited this product from being saved:</h2>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="main">
  <%= render 'books/list', user: @user, book: @book %>
  <div class="main-right">
    <div class="main-books">
      <h2 class="main-books-title">
        Book detail
      </h2>
      <div class="main-books-items">
        <div class="main-books-item-img">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <%= link_to @user.name, user_path(@user) %>
        </div>
        <%= link_to @books.title, book_path(@books) %>
        <%= @books.body %>
        <% if @books.user_id == current_user.id %>
          <%= link_to "Edit", edit_book_path(@books) %>
          <%= link_to "Destroy", book_path(@books), method: :delet, data: {confirm: "本当に消しますか？"}%>
        <% end %>
      </div>
    </div>
  </div>
</div>